.env
.env.*
!.env.example
.git
.gitignore
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/storage
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
